// tamanho padrão de fontes

$font-size-base: 1rem; // 16px - Tamanho base dos textos do body
$font-title-base: 2rem; // 32px - Tamanho base dos títulos

$main-font: "Ubuntu", sans-serif; // Fonte principal
